 <div id="loginOptionsContainer" style="display: none;">
    <div id="loginOptionsContent">
        <h2>Selecciona una cuenta</h2>
        <div id="loginOptionsList"></div>
        <button id="loginOptionsAddButton" tabindex="-1">
            <span>+ Agregar cuenta</span>
        </button>
        <button id="loginOptionsCancelButton" tabindex="-1">
            <span>Cancelar</span>
        </button>
    </div>
</div>
