 <div id="overlayContainer" style="display: none;">
    <div id="overlayContent">
        <div id="overlayTitle"></div>
        <div id="overlayDesc"></div>
        <div id="overlayActionContainer">
            <button id="overlayActionConfirm" tabindex="-1">Confirmar</button>
            <button id="overlayActionCancel" tabindex="-1">Cancelar</button>
        </div>
    </div>
</div>
