 <div id="waitingContainer" style="display: none;">
    <div id="waitingContent">
        <div class="waitingSpinner"></div>
        <p id="waitingMessage">Verificando cuenta...</p>
    </div>
</div>
