 <div id="welcomeContainer">
    <div id="welcomeContent">
        <div id="welcomeLogoContainer">
            <img id="welcomeLogo" src="assets/images/VitarisLogo.png" alt="Vitaris II">
        </div>
        <div id="welcomeTextContainer">
            <h1 id="welcomeTitle">VITARIS II</h1>
            <p id="welcomeDesc">El launcher oficial del servidor.<br>Mods y actualizaciones gestionadas automáticamente.</p>
        </div>
        <button id="welcomeButton" tabindex="-1">
            <span>COMENZAR</span>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none">
                <path d="M3 8H13M13 8L9 4M13 8L9 12" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </button>
    </div>
</div>
